html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

form label {
  margin: 5px;
}

form input {
  padding: 12px 20px;
  margin: 5px;
}

form select {
  padding: 5px;
  margin: 0 5px;
}
