.container {
    display: grid;
    align-content: center;
    height: 100vh;
    background-color: black;
    
}


.formContainer {
    display: grid;
    width: 500px;
    margin: 0 auto;
    padding-top: 10px;
    background-color: #f1f1f1;
    grid-template-columns: 1fr;
    
}

.inputItem {
    display: grid;
    grid-template-columns: 1fr;
}
.btn {
    padding: 10px;
    
}